<main class="pt-8 pb-12 px-16 md:px-12 lg:px-12 xl:px-28">
        <form class="flex flex-col items-center" method="post">
            <h2 class="text-center font-600 text-3xl">Add product</h2>
            <div class="flex flex-col mt-8">
                <label for="id" class="pl-1">Reference Id</label>
                <input placeholder="Id" type="text" name="id" class="border-b border-gray-300 focus:bg-gray-100 focus:border-indigo-500 focus:border-b-2 focus:placeholder-transparent hover:bg-gray-100 outline-none focus:outline-none px-2 py-1 duration-75 placeholder:transition-opacity transition-all ease-in-out">
            </div>
        </form>
</main>
